<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HighChart Test</title>
    <link th:href="@{css/trend.css}" rel="stylesheet">
    <script th:src="@{js/lib/jquery-3.5.1.min.js}"></script>
</head>

<body class="">
    <h1 style="text-align: center;">구인/구직 동향분석</h1>
    <div id="chart_area" style="width: 75%; margin: 0 auto"></div>
    <p class="highcharts-description">

    </p>

    <script th:src="@{js/trend.js}"></script>
    <script th:src="@{https://code.highcharts.com/highcharts.js}"></script>
    <script th:src="@{https://code.highcharts.com/modules/exporting.js}"></script>
    <script th:src="@{https://code.highcharts.com/modules/export-data.js}"></script>
    <script th:src="@{https://code.highcharts.com/modules/accessibility.js}"></script>
</body>

</html>